*,
::before, 
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightred:rgb(233, 198, 199, 0.3);
    --red: #c44448;
    --grey: #f3f3f5;
    --padding-left-header: 40px;
    --block-border-radius: 10px;
}

html {
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}

body:not(footer) {
    width: 83%;
    margin: 0 auto;
}

section {
    padding-left: var(--padding-left-header);
}

footer {
    text-align: center;
    background-color: var(--grey);
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Spartan', sans-serif;
    margin: 1rem 0;
}

h1::before {
    content: 'Hi There,\A';
    white-space: pre;
    font-size: 1rem;
    font-family: 'Darker Grotesque', sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
    position: relative;
    left: -45px;
}

h2:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--lightred);
    position: relative;
    top: 7px;
    left:28px;
    z-index: -1;
}

h4, h5 {
    padding-left: 25px;
    font-size: 1.3rem;
}

p {
    font-size: 1.3rem;
    margin: 1rem 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

.cta-button {
    position: relative;
    display: inline-block;
    margin: 25px 0;
    width: 195px;
    height: 45px;
    background-color: var(--red);
    color: white;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    z-index: 1;
}


.cta-button::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    background: rgba(24, 21, 21, 0.5);
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.5s ease;
    border-radius: 5px;
    color: white;
    z-index: -1;
}

.cta-button:hover::after {
    transform: scale(1);
}

.check-button {
    top: 10px;
    right: 20px;
    width: 50px;
    font-size: 45px;
    text-align: center;
    color: var(--red);
    cursor: pointer;
    display: none;
    z-index: 2;
}

.open {
    position: fixed;
}

.close {
    position: absolute;
}

#input-check {
    display: none;
}

.badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 55px;
    background-color: var(--red);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.fa-external-link-alt {
    color: var(--red);
}

/* header section*/
.header {
    background: url(../images/gummy-app-development.png) var(--grey);
    background-position: 100% 40%;
    background-size: 80%;
    background-repeat: no-repeat;
    padding: 15px;
    height: 650px;
}
.header-topbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.header-topbar .social-networks {
    padding-left: var(--padding-left-header);
}
.header-topbar .social-networks i {
    margin-right: 17px;
}
.header-topbar .menu {
    position: fixed;
    top: 873px;
    left: 53px;
    transform-origin: left top;
    transform: rotate(-90deg);
    direction:rtl;
    font-weight: bold;
    width: 800px;
}
.header-topbar .menu ul {
    list-style-type: none;
}
.header-topbar .menu li {
    display: inline-block;
    width: 87px;
    text-align: center;
}
.header-topbar .menu li:last-child {
    text-align: left;
    margin-right: 70px;
    height: 50px;
    width: fit-content;
    transform: rotate(90deg);
}
.header-topbar .menu a {
    color: black;
    font-size: 1.5rem;
    width: 100%;
    height: 78px;
    display: block;
    margin-right: 3px;    
}
.header-topbar .menu a:hover {
    color: var(--red);
    font-weight: bold;
}

.menu a:hover:after {
    position: relative;
    top: 15px;
    left: -40%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--red);
    content: '';
    display: block;
}

.menu li:last-child a:hover:after {
    width: 0px;
    height: 0px;
    border-radius: 0%;
}

.header-banner {
    padding-top: 7.5rem;
}
.header-banner .presentation {
    width: 48%;
    padding-left: var(--padding-left-header);
}
.header-banner .presentation .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 110px;
    font-size: 1.3rem;
}
/* header section*/

/* about-me section */
.about-me-presentation {
    display: flex;
    justify-content: space-between;
}
.about-me-presentation img {
    border-radius: var(--block-border-radius);
    width: 48%;
    object-fit: cover;
}
.about-me-presentation .me {
    width: 50%;
}
.about-me-presentation .personal-informations {
    display: flex;
    justify-content: space-between;
}
.about-me-presentation dl {
    list-style-type: none;
    font-size: 1.2rem;
}
.about-me-presentation dt {
    font-weight: bold;
    display: block; 
    float: left; 
    margin-top: 10px;
    clear: both;
}
.about-me-presentation dt::after {
    content: ' : ';
}
.about-me-presentation dd {
    display: block; 
    float: left; 
    margin-top: 10px
}
.about-me-presentation dd:before {
    content: ' ';
    white-space: pre;
}

.about-me-feedbacks {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-me-feedbacks .feedback {
    flex: 1 0 10vw;
    width: auto;
    height: 125px;
    background-color: var(--grey);
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 2px;
    border-radius: var(--block-border-radius);
}

.about-me-curriculum {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me-curriculum .curriculum {
    flex: 1 0 48%;
    margin-right: 20px;
}
.about-me-curriculum .timeline {
    border: 1px solid var(--grey);
    box-shadow: 10px 15px 10px 2px var(--grey);
    position: relative;
    background: white;
    border-radius: var(--block-border-radius);
    padding: 16px;
}
.about-me-curriculum .timeline::before {
    content: '';
    position: absolute;
    top: 66px;
    left: 35px;
    width: 2px;
    height: 85%;
    background-color: var(--red);
}
.about-me-curriculum .content {
    position: relative;
    padding-left: 30px;
    width: 100%;
    margin: 40px 0;
}
.about-me-curriculum .content p {
    padding-left: 25px;
}
.about-me-curriculum .content::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0.8rem;
    background-color: var(--red);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* about-me section */

/* services section */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service {
    width: 315px;
    height: 260px;
    background-color: var(--grey);
    text-align: center;
    padding: 15px;
    margin: 0 2rem 2rem 0;
    border-radius: var(--block-border-radius);
}
.service .number {
    padding-top: 1.6rem;
    font-family: 'Spartan', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--red);
    border: 1px solid var(--red);
    width: 80px;
    height: 80px;
    margin: 0px auto;
    border-radius: 50%;
}
/* services section */

/* works section */
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works figure {
    box-shadow: 10px 15px 10px 2px var(--grey);
    margin: 0 2rem 2rem 0;
}

.works figcaption {
    height: 50px;
    padding: 10px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* works section */

/* contact section */
.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts form {
    flex: 1 0 auto;
    background-color: var(--grey);
    padding: 30px 0 0 25px;
    border-radius: var(--block-border-radius);
    margin-right: 50px;
}
.contacts .form-group {
    margin: 1rem 0;
}
.contacts form input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
}
.contacts form textarea {
    width: 90%;
    height: 153px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: left;
    outline: none;
}
.contacts .contact {
    flex: 0 0 48%;
}

.contacts .contact p,  .contacts .contact address{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.contacts span:first-child {
    font-weight: bold;

}
.contacts .contact i {
    color: var(--red);
    margin-right: 15px;
    font-size: 1rem;
}
/* contact section */

@media screen and (max-width: 1220px) {
    html {
        font-size: 14px;
    }

    .header-topbar .menu {
        left: 31px;
    }

    .header-banner .presentation {
        width: 100%;
        padding-left: 0;
    }

    .badge {
        left: 28px;
        padding: 5px;
    }

    .service {
        flex: 1 0 200px;
    }

    .contacts form {
        flex: 1 0 100%;
    }

    .about-me-feedbacks .feedback {
        width: 105px;
        height: 105px;
        font-size: 1.2rem;

    }
    
}

@media screen and (max-width: 850px) {
    html {
        font-size: 13px;
    }
    
    body {
        width: 100% !important;
    }

    section {
        padding: 15px;
    }

    .cta-button {
        line-height: 3.2rem;
        width: 160px;
    }
    
    #input-check:checked ~ .menu {
        left: 50vw;
    }

    .badge {
        display: none;
    }

    .header {
        height: 520px;
        padding: 0;
    }
    .header-topbar .social-networks {
        padding: 15px;
    }
    .header-banner {
        padding-top: 1.5rem;
        padding-left: 15px;
    }

    .check-button {
        display: block;
    }

    .header-topbar .menu { 
        position: fixed;
        top: 0px;
        left: 150vw;
        z-index: 2;
        padding-top: 6rem;
        transform-origin: center;
        transform: none;
        direction: ltr;
        font-weight: bold;
        background-color: white;
        height: 100vh;
        width: 50vw;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.5s ease;
    }
    .header-topbar .menu li {
        display: block;
        width: 100%;
    }
    .header-topbar .menu li:last-child {
        display: none;
    }
    .header-topbar .menu a {
        text-align: center;
        display: inline-block;
        text-align: center;
        width: 100%;
        color: black;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-topbar .menu a:after {
        display: none;
    }
    section {
        padding: 10px 10px 10px 20px;
    }

    .about-me-presentation {
        flex-direction: column;
    }

    .about-me-presentation img {
        width: 100%;
    }

    .about-me-presentation .me {
        width: 100%;
    }

    .about-me-curriculum .content::before {
        left: 0.9rem;
    }

    .service {
        height: auto;
    }

    .service .number {
        padding-top: 1.1rem;
        font-size: 0.9rem;
        width: 40px;
        height: 40px;
    }

    .works figure {
        width: 100%;
    }
    .works figure img {
        width: 100%;
    }

    .contacts .contact {
        flex: 0 0 100%;
    }
    
}

@media screen and (max-width: 380px) {

    .header {
        background-size: 85%;
        background-position: 65% 0;
        height: 60vh;
    }
    .header-topbar {
        height: auto;
    }
    .header-banner {
        padding-top: 7rem;
    }
    .header-banner .presentation .contacts {
        display: none;
    }
}
